@font-face {
  font-family: "HKGrotesk-Bold";
  src: local("HK Grotesk Bold"), local("HKGrotesk-Bold"),
    url("../fonts/HKGrotesk-Bold.woff2") format("woff2"),
    url("../fonts/HKGrotesk-Bold.woff") format("woff"),
    url("../fonts/HKGrotesk-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HKGrotesk-Regular";
  src: local("HK Grotesk Regular"), local("HKGrotesk-Regular"),
    url("../fonts/HKGrotesk-Regular.woff2") format("woff2"),
    url("../fonts/HKGrotesk-Regular.woff") format("woff"),
    url("../fonts/HKGrotesk-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
    url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff"),
    url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HKGrotesk-Medium";
  src: local("HK Grotesk Medium"), local("HKGrotesk-Medium"),
    url("../fonts/HKGrotesk-Medium.woff2") format("woff2"),
    url("../fonts/HKGrotesk-Medium.woff") format("woff"),
    url("../fonts/HKGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
